<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" verbose="1" parallel="false">
    <listeners>
        <listener class-name="listeners.CustomListener"/>
    </listeners>

    <test name="Add Customer Test">
        <classes>
            <class name="testcases.AddCustomerTest"/>
        </classes>
    </test>
</suite>
